/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public           domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start Here */

.main{
    border: 3px solid red;
    display:flex;
    width: 1100px;
  }

  .menu{
    color:#37523d;
    background:#e7eeea;
    width:325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size:26px;
    padding-top:31px;
    font-weight: bold;
  }
  .menu img{
      margin-top: 50px;
      padding: 8px;
  }
  .menu-wrap{
    text-align: center;
    padding-top:40px; 
  }

  .menu-wrap li{
      font-size: 24px;
      line-height: 54px;
      text-align: left;
  }

  .content{
    border: 3px solid pink;
    margin:0 90px 0 90px ;
  }

  .content h2{
    margin-top: 80px;  
    font-size: 30px;
    font-weight: bolder;
    color: #6d8171;
  }

  .content p{
    margin-top: 30px;
    font-size: 26px;      
    color: #2d2d2d;
  }

  .imgArea {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .imgArea img{
    width: 190px;
    height: 160px;  
  }