/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public           domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start Here */
* {
  box-sizing: border-box;
}

.main {
  width: 1920px;
  border: 2px solid red;
  margin-left: 360px;
}

.Name {
  display: block;
  top: 48px;
  left: 360px;
  width: 288px;
  height: 180px;

  text-align: left;
  font: Regular 80px/90px Andale Mono;
  font-size: 80px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.line1 {
  top: 252px;
  border: 2px solid #000000;
  margin-bottom: 48px;
}

.img1 {
  border: 2px solid pink;   /* dele when commit */
  margin-bottom: 48px;
}


.container {
  border: 2px solid darkblue;   /* dele when commit */
  display: flex;
  justify-content: flex;
  font-size: 32px;
  text-align: left;
  font-family: sans-serif;
}

.areaMB{
  margin-bottom: 79px;
}

.fontBlack{
  color:#000000;
  margin-right:16px
}

.fontBrown{
  color:#A00404
}


/* 個資區塊 */
.intContent{
 display: flex;
 justify-content: flex;
}

.stdFont{
  text-align: left;
  color: #000000;
  font-size:24px;
  line-height:36px;
  vertical-align: center;
}


/* 學歷區塊 */
.education{
  display: flex;
  justify-content: flex;
  flex-direction: column;
 }

 
.shapOfCircle {
	width: 16px;
	height: 16px;
	border: #96a9c4;
	background-color: #96a9c4;
	border-radius: 50%;
	margin-right: 16px;
  margin-top: 8px;
}

.pseudoCircle::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color:  #96A9C4; /* Change the color */
  font-size: 2.5em;
  font-weight: bold; /* If you want it to be bold */
  vertical-align: middle;
  margin-right: 16px;
  /* display: inline-block; Needed to add space between the bullet and the text */
  /*width: 0.5em;  Also needed for space (tweak if needed) */
}

